h1, h2, h3, h4, h5 {
    margin: 0;
}

.top-bar {
    height: 110px;
    width: 100%;
    position: static;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 15px;
    padding-right: 15px;
}

.white-text {
    color: white;
}

.main-content {
    padding: 30px;
}

.articles-container {
    padding-top: 50px;
}

.col {
    padding-left: 30px;
    padding-right: 30px;
}

.italics {
    font-style: italic;
    font-size: 21px;
}

.purple-box {
    background-color: rgb(145, 76, 145);
    padding: 20px;
    border: 2px solid black;
}

.margin-top {
    margin-top: 40px;
}

.article {
    margin-top: 20px;
    font-size: 21px;
}

.penguin-image {
    margin-top: 20px;
    width: 100%;
}

.button-container {
    margin-top: 100px;
}