<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/stupid.css"/>
        <link rel="stylesheet" type="text/css" href="css/news.css"/>
    </head>
    <body>
        <div class="top-bar navy">
            <h1 class="white-text">stuff</h1>
            <h2 class="white-text">more stuff</h2>
        </div>
        <div class="main-content">
            <div class="container">
                <div class="twothirds">
                    <h2>This is stuff that could be considered a title of an article</h2>
                    <h4>this is stuff that could be considered a subtitle</h4>
                    <h4>Fake Date, 2019</h4>
                </div>
                <div class="third">
                    <h2>This is stuff that could be considered another title of an article</h2>
                </div>
            </div>
        </div>
    </body>
</html>