<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/stupid.css" />
    <link rel="stylesheet" type="text/css" href="css/news.css" />
</head>

<body>
    <div class="top-bar navy">
        <h1 class="white-text">stuff</h1>
        <h2 class="white-text">more stuff</h2>
    </div>
    <div class="main-content">
        <div class="container">
            <div class="twothirds">
                <div class="col">
                    <h2>This is stuff that could be considered a title of an article</h2>
                    <h4>this is stuff that could be considered a subtitle</h4>
                    <h4>Fake Date, 2019</h4>
                    <div class="container articles-container">
                        <div class="half">
                            <img src="images/spidey.png" />
                            <p class="italics">this is stuff that could be considered a small image taking up part of
                                the left column.
                                Additionally, this entire section is in italics!
                                Personally, I think it really brings the whole page together.
                                Man, this text really goes on and on and on and on and on and on and on
                                and on and on and on and on and on and on and on and on and on and on
                                and on and on and on and on and on and on and on and on and on and on
                                and on and on and on and on and on and on
                            </p>
                        </div>
                        <div class="half">
                            <div class="col">
                                <div class="purple-box">
                                    <h3>Here we have some title stuff inside a purple box</h3>
                                    on this half of the page, we have some stuff inside a purple box with a black
                                    border.
                                </div>
                                <div class="article">
                                    underneath this strange purple box, we have some text but the important part of
                                    this text is that the right sides
                                    no not necessarily align to the edges of the column. This time, the right side of
                                    this column will have text ending in different
                                    parts. This is some extra text to take up space. I want it to extend allllllll the
                                    way down to the purple box. Ok, I'm out of ideas,
                                    so here goes nothing. akjsdhflak jsdhflaks jdhflaksjdhf lkajsdhfla kjsdhflkajs
                                    dhflkajsdhfl akjsdhflka sdhflaksj hflkasjdh flaksjdhfalk
                                    asdfasd asd fasdf asdf asdf asdfasd fasd fasdf asdfasdf asdf asdf asdf asdf asdf
                                    asdf asd fasdf asdf asdf asdf asdf asdf asdf asdf
                                    asdf as fasdf asdf asdf asdf asdf asdf asd fasdf asdf asdf asd fasdf asd fasdf asd
                                    fasd fasdf asd fasd fasdf asd fasd fasdf asd fasdf
                                    asdfasd fasdf asdf asdf asdfas dasd asdf jh lkj hlk jhfkl hfklasjhd fkl jahsdkfh
                                    klh kljh klajsdh fklasdjhklhd kjhaklh fklh k jah
                                    asdf as fasdf asdf asdf asdf asdf asdf asd fasdf asdf asdf asd fasdf asd fasdf asd
                                    fasd fasdf asd fasd fasdf asd fasd fasdf asd fasdf
                                    asdfasd fasdf asdf asdf asdfas dasd asdf jh lkj hlk jhfkl hfklasjhd fkl jahsdkfh
                                    klh kljh klajsdh fklasdjhklhd kjhaklh fklh k jah
                                    asdf as fasdf asdf asdf asdf asdf asdf asd fasdf asdf asdf asd fasdf asd fasdf asd
                                    fasd fasdf asd fasd fasdf asd fasd fasdf asd fasdf
                                    asdfasd fasdf asdf asdf asdfas dasd asdf jh lkj hlk jhfkl hfklasjhd fkl jahsdkfh
                                    klh kljh klajsdh fklasdjhklhd kjhaklh fklh k jah
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="purple-box margin-top">
                        <h3>Here we have some title stuff inside a different purple box</h3>
                        this purple box is very similar to the last one except it takes up two thirds of the screen
                        instead of one third.
                        if you ask me, this one is way more fun.
                    </div>
                    <div class="container button-container">
                        <div class="half">
                            <div class="btn large orange">
                                <h2>Do you</h2>
                            </div>
                        </div>
                        <div class="half">
                            <div class="col">
                                <div class="btn large pink">
                                    <h2>like penguins?</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="third">
                <div class="col">
                    <h2>This is stuff that could be considered another title of an article</h2>
                    <img class="penguin-image" src="images/penguin.jpg" />
                </div>
            </div>
        </div>
    </div>
</body>

</html>